include header
.container
	.row
		.span12
			- if (typeof(locals.query.warning) != 'undefined')
				.alert.alert-warning 
					strong= locals.query.warning
			h1= page.title
			hr
	.row
		.span8
			form(action="#{locals.host}/admin/posts/addnewtodb", method="post")
				
				label Title
				input#title(type="text")(name="title")
				br
				span#slug
					p.left #{locals.host}/blog/
					input.slug(type="text", name="slug")
				
				br
				label Content
				textarea.redactor(name="content")
				br

				input.btn#submit(type="submit").hidden
		.span4
			.well
				a.btn.btn-green(onClick="$('#submit').click();", href="#") Publish