include header
.container
	.row
		.span12
			- if (typeof(locals.query.warning) != 'undefined')
				.alert.alert-warning 
					strong= locals.query.warning
			h1= page.title
			p= page.content
			form(action="#{locals.host}/admin/posts/addnewtodb", method="post")
				
				label Title
				input(type="text")(name="title")
				
				label Slug
				input(type="text")(name="slug")
				
				br
				label Content
				textarea.redactor(name="content")
				br

				input.btn(type="submit")