include header
        div.page-container
            h1=page.title
            ul.posts
                for post in blogposts
                    li 
                        h2.blog-title=post.title
                        div.blog-text=post.content
                        