include header
.container
	.row
		.span12
			h1=page.title
			hr
			for post in blogposts
				.row
					.span6
						h3.blog-title
							a(href="#{locals.host}/blog/#{post.slug}")=post.title
						div.blog-text
							div!=post.content
						br
				hr