include header
.container
	.row
		.span12
			h1=page.title
			hr
			- blogposts.sort(byDateASC)
			for post in blogposts
				.row
					.span8
						h3.blog-title
							a(href="#{locals.host}/blog/#{post.slug}")=post.title
						p 
							b Posted 
							i=post.date.toDateString()
						div.blog-text
							div!=post.content
						br
				hr