!!! 5
html
	head
		title= page.title
		link(rel='stylesheet', href='/css/bootstrap.min.css')
		link(rel='stylesheet', href='/css/app.css')
		link(rel='stylesheet', href='/redactor/css/redactor.css')
		script(src='http://code.jquery.com/jquery-latest.js')
		script(type='text/javascript', src='/js/bootstrap.min.js')
		script(type='text/javascript', src='/redactor/redactor.js')
		script(type='text/javascript', src='/js/application.js')
		script(type="text/javascript")
			var _gaq = _gaq || [];
			_gaq.push(['_setAccount', 'UA-21735571-19']);
			_gaq.push(['_trackPageview']);
			
			(function() {
				var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
				ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
				var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
			})();
	body
		.navbar.navbar-fixed-top
			.navbar-inner
				.container
					a.brand(href=locals.host) a-cms
					.nav-collapse
						ul.nav
							li.dropdown
								a.dropdown-toggle(href="#", data-toggle="dropdown") Posts
									b.carret
								ul.dropdown-menu
									li
										a(href="#{locals.host}/admin/posts") Post List
										a(href="#{locals.host}/admin/posts/addnew") Add New
									