include header
.container
	.row
		.span4.offset4
			form(action="/sessions", method="post").well
				h3=page.title
				hr
				label(for="username") Username
				input(type="text", name="username")
				label(for="password") Password
				input(type="password", name="password")
				input(type="submit", value="Login").btn.btn-primary.btn-large