include header
.container
	.row
		.span4.offset4
			- if (typeof(locals.query.warning) != 'undefined')
				.alert.alert-warning 
					strong= locals.query.warning
			- if (typeof(locals.query.error) != 'undefined')
				.alert.alert-error 
					strong= locals.query.error
			form(action="/login", method="post").well
				h3=page.title
				hr
				label(for="username") Username
				input(type="text", name="username")
				label(for="password") Password
				input(type="password", name="password")
				input(type="submit", value="Login").btn.btn-primary.btn-large