body {
  padding-top: 90px;
}
.redactor {
  height: 400px;
}
.left {
  float: left;
}
#slug p {
  line-height: 28px;
}
#slug input {
  border: 1px solid transparent;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  box-shadow: none;
}
#slug input:focus {
  border: 1px solid #ccc;
}
/* MISC */
.hidden {
  display: none;
}
